@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Ubuntu:wght@400;500&display=swap');


/* preloader code */

.preloader {
    background: #0e0e0e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    text-align: center;
}

.preloader .preloader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader .tj-primary-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.preloader .preloader-inner .lines {
    height: 25px;
}

.preloader .preloader-inner .text {
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3.5px;
    display: inline-block;
    line-height: 1.2;
    font-size: 12px;
}

.preloader .preloader-inner .lines .line-1 {
    animation-delay: 800ms;
    animation-fill-mode: both;
}

.preloader .preloader-inner .lines .line-2 {
    animation-delay: 600ms;
    animation-fill-mode: both;
}

.preloader .preloader-inner .lines .line-3 {
    animation-delay: 400ms;
    animation-fill-mode: both;
}

.preloader .preloader-inner .lines .line-4 {
    animation-delay: 200ms;
    animation-fill-mode: both;
}

.preloader .preloader-inner .lines .line-6 {
    animation-delay: 200ms;
    animation-fill-mode: both;
}

.preloader .preloader-inner .lines .line-7 {
    animation-delay: 400ms;
    animation-fill-mode: both;
}

.preloader .preloader-inner .lines .line-8 {
    animation-delay: 600ms;
    animation-fill-mode: both;
}

.preloader .preloader-inner .lines .line-9 {
    animation-delay: 800ms;
    animation-fill-mode: both;
}

.preloader .preloader-inner .lines .line {
    width: 1px;
    height: 20px;
    background: #fff;
    margin: 0 2px;
    display: inline-block;
    animation: opacity 1000ms infinite ease-in-out;
    background: linear-gradient(180deg, #20D9A1 0%, #5f39ff 100%);
}

@keyframes opacity {
    0% {
        opacity: 1;
        height: 25px;
    }
    50% {
        opacity: 0;
        height: 20px;
    }
    100% {
        opacity: 1;
        height: 25px;
    }
}


/* scroll-bar open */

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #5f39ff;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: transparent;
}


body{
    margin: 0;
    padding: 0;
    max-width: 1600px;
}

ul{
    padding: 0;
    margin: 0;
}

a, .btn, button, span, p, input, select, textarea, li, img, svg path, *::after, *::before, h1, h2, h3, h4, h5, h6 {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: #3a3a3a;
    margin-top: 0px;
    font-weight: 700;
    line-height: 1.3;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}


.header-area.header-sticky {
    position: fixed;
}

.header-area {
    padding: 10px 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.4s;
}

.header-content-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-area .logo-area {
    max-width: 195px;
}
 
 .header-area .logo-area a img {
    width: 100%;
}

.header-area .logo-area a {
    display: inline-block;
}

.header-area .logo-area a img {
    width: 100%;
}

.d-lg-block {
    display: block!important;
}

.tj-menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
} 

.tj-menu-area li {
    display: inline-block;
    position: relative;
    margin-right: 55px;
}


.tj-menu-area li a {
    font-size: 16px;
    font-family: 'Ubuntu';
    font-weight: 400;
    transition: 0.4s;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    padding: 15px 0;
}

.tj-menu-area li.has-dropdown:hover > a::after {
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

.tj-menu-area li.has-dropdown > a::after {
    position: absolute;
    top: 2px;
    right: -18px;
    line-height: 1;
    content: "+";
    font-family: "Font Awesome 6 Pro";
    font-size: 14px;
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    -ms-transition: all 0.1s ease-in-out 0s;
    -o-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s;
}

.tj-menu-area li a.active, .tj-menu-area li a:hover {
    color: transparent;
}

.tj-menu-area .has-dropdown:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    top: 150%;
}

.tj-menu-area li .sub-menu li a.active, .tj-menu-area li .sub-menu li a:hover {
    color: transparent;
}

.tj-menu-area li .sub-menu li a.active::before, .tj-menu-area li .sub-menu li a:hover::before {
    width: 14px;
}

.tj-menu-area li .sub-menu {
    text-align: left;
    margin: 0;
    list-style: none;
    background: #fff;
    position: absolute;
    opacity: 0;
    padding: 20px 0;
    visibility: hidden;
    z-index: 9;
    top: 130%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    width: 250px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.tj-menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.tj-menu-area li .sub-menu::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    content: "";
    transition: 0.6s;
}

.tj-menu-area li .sub-menu li {
    display: block;
    margin-right: 0;
    transition: 0.4s;
}

.tj-menu-area li .sub-menu li.active, .tj-menu-area li .sub-menu li:hover {
    padding-left: 15px;
}

.tj-menu-area li .sub-menu li:last-child {
    padding-bottom: 0;
}

/* .tj-menu-area li.has-dropdown a {
    padding: 15px 20px 15px 0;
} */

.tj-menu-area li .sub-menu li a {
    position: relative;
    padding: 8px 20px;
    display: block;
    background: linear-gradient(90deg, #20D9A1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #3a3a3a;
}

.tj-menu-area li .sub-menu li a::before {
    content: "";
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #20D9A1 0%, #5f39ff 100%);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.4s;
}

.tj-secondary-btn.btn-border {
    position: relative;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 0 0;
    padding: 1px;
}

.tj-secondary-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 2;
    text-transform: capitalize;
    color: #5f39ff;
    padding: 12px 35px;
    border: none;
    background: linear-gradient(90deg, #5f39ff 0%, #20d9a1 100%);
    background-size: 150% auto;
}

.header-area .header-button .tj-secondary-btn:hover span {
    background: transparent;
    color: #ffffff;
}
.header-area .header-button .tj-secondary-btn.btn-border span {
    background: #0e0e0e;
    color: #ffffff;
}

.tj-secondary-btn.btn-border:hover span {
    background: transparent;
    color: #ffffff;
}

.tj-secondary-btn.btn-border span {
    padding: 12px 35px;
    background: #ffffff;
    border-radius: 58px;
    color: #5f39ff;
}

.tj-secondary-btn.btn-border span {
    padding: 12px 35px;
    background: #ffffff;
    border-radius: 58px;
    color: #5f39ff;
}

.d-lg-none {
    display: none!important;
}





/* main content */

.site-content {
    overflow-x: hidden;
    position: relative;
}

.hero-section {
    position: relative;
    padding-top: 210px;
    padding-bottom: 90px;
    background-image: url('images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: linear-gradient(181deg, #dcdee7 2.29%, rgba(40, 40, 40, 0.7) 89.63%);
}

.hero-left-content {
    position: relative;
    z-index: 3;
}

.tj-sec-heading {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
}

.hero-left-content .hero-sub-title {
    color: #ffffff;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 35px;
    letter-spacing: 3.5px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}

.hero-left-content .hero-title {
    font-size: 55px;
}
.hero-left-content .hero-title {
    color: #ffffff;
    margin-bottom: 25px;
}

.hero-section .title {
    background: linear-gradient(90deg, #5f39ff 0%, #20d9a1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.hero-left-content p {
    color: #d9d9d9;
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 0;
}

.hero-left-content .hero-button {
    margin-top: 50px;
}

.tj-primary-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito Sans', sans-serif;;
    line-height: 2;
    text-transform: capitalize;
    color: #ffffff;
    padding: 12px 35px;
    border: none;
    background-image: linear-gradient(to right, #20D9A1 0%, #5f39ff 51%, #20d9a1 100%);
    background-size: 200%;
}

img {
    max-width: 100%;
}

.hero-image-group {
    text-align: right;
    position: relative;
    margin-right: 0px;
    z-index: 3;
}

.hero-image-group .group-image1 {
    position: relative;
    max-width: 345px;
    width: 100%;
    margin-left: auto;
    z-index: 3;
}

.shake-y {
    -webkit-animation: shakeY 2.5s ease-in-out infinite;
    animation: shakeY 2.5s ease-in-out infinite;
}

.hero-image-group .group-image1::before {
    position: absolute;
    content: "";
    top: -25px;
    width: 110%;
    height: 105%;
    right: -20px;
    background: url('images/hero-border.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-image-group .group-image1 img {
    position: relative;
    z-index: 3;
    border-radius: 550px;
}


.hero-image-group .group-image2 {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    left: 0;
    z-index: 3;
    max-width: 250px;
    width: 100%;
}

.pulse {
    -webkit-animation: pulse 2.5s ease-in-out infinite;
    animation: pulse 2.5s ease-in-out infinite;
}

.hero-image-group .group-image2::before {
    content: "";
    position: absolute;
    border-radius: 550px 500px 500px 500px;
    opacity: 3.25%;
    background: linear-gradient(180deg, #dcdee7 0%, rgba(40, 40, 40, 0.7) 100%);
    top: 46%;
    transform: translateY(-50%);
    left: -15px;
    width: 346px;
    height: 530px;
    z-index: 3;
}

.hero-image-group .group-image2 img {
    border-radius: 515px 500px 515px 500px;
    border: 10px solid #3a3a3a;
}

.hero-image-group .group-image3 {
    position: absolute;
    left: 0;
    top: -12%;
    opacity: 0.2;
}

.hero-image-group .group-image4 {
    position: absolute;
    left: 15%;
    top: -5%;
    opacity: 0.5;
}

.hero-image-group .group-image5 {
    position: absolute;
    right: -20px;
    top: -10%;
}

.hero-image-group .group-image6 {
    position: absolute;
    left: -5%;
    bottom: 5%;
}

.hero-section .hero-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.hero-section .hero-shape1 {
    position: absolute;
    top: 0;
    right: 0;
}

.hero-section .hero-scroll {
    position: absolute;
    bottom: -44px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    max-width: 125px;
    width: 100%;
}

.hero-section .hero-scroll .jump {
    -webkit-animation: jump-arrow 2.5s infinite;
    animation: jump-arrow 2.5s infinite;
}
.hero-section .hero-scroll .scroll-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* fade effects */

@keyframes shakeY {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jump-arrow {
    0%, 20%, 55%, 80%, 100% {
        transform: translate3d(-50%, 0, 0);
    }
    
    40% {
        transform: translate3d(-50%, -8px, 0);
    }
    70% {
        transform: translate3d(-50%, -8px, 0);
    }
    90% {
        transform: translate3d(-50%, -5px, 0);
    }
}




/* about section */

.about-section {
    padding-top: 230px;
    padding-bottom: 150px;
    position: relative;
}

.about-image-group {
    position: relative;
}

.about-image-group .about-circle-box {
    position: absolute;
    right: 10%;
    border-radius: 50%;
    bottom: 190px;
}

.about-image-group .about-circle-box::before {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    z-index: 9;
}

.about-image-group .about-circle-box .circle-one {
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
    max-width: 250px;
}

.about-image-group .about-circle-box .ab-circle {
    background: rgba(228, 225, 255, 0.15);
    border-radius: 132px;
    backdrop-filter: blur(10px);
    padding: 5px;
    border: 1px solid #705fff;
}

.about-image-group .about-circle-box .ab-circle svg {
    fill: #5f39ff;
    height: auto;
    max-width: 120px;
    transform-origin: center;
    width: 100%;
    font-weight: 600;
}

.about-image-group .about-circle-box .shape-1 {
    border-radius: 50%;
    padding: 5px;
    position: relative;
    z-index: 3;
    max-width: 120px;
    animation: rotateImg 10s infinite linear;
}

.about-image-group .about-image1 {
    position: absolute;
    top: -240px;
    transform: translateY(-50%);
    left: 18%;
    max-width: 375px;
    width: 100%;
    z-index: 3;
}

.about-image-group .about-image1::before {
    position: absolute;
    content: "";
    bottom: -20px;
    right: -50%;
    width: 100%;
    height: 100%;
    background: url('images/shape-11.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.about-image-group .about-image1::after {
    position: absolute;
    content: "";
    top: 3.5%;
    left: 7%;
    width: 100%;
    height: 100%;
    background: url('images/border-shape.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.about-image-group .about-image2 {
    position: absolute;
    top: -20px;
    left: 0;
    max-width: 120px;
    width: 100%;
    bottom: auto;
}

.about-image-group .about-image2 img {
    border: 1px solid #5f39ff;
    border-radius: 50%;
    padding: 10px;
}

.about-image-group .about-image3 {
    position: absolute;
    top: auto;
    left: 30px;
    bottom: 190px;
    max-width: 200px;
    width: 100%;
}

.about-image-group .about-image3::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/border-shape1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.about-image-group .about-image3 img {
    border-radius: 50%;
    padding: 10px;
}

.about-image-group .about-image4 {
    position: absolute;
    top: 150px;
    right: 16%;
    max-width: 150px;
    width: 100%;
}

.about-image-group .about-image4 img {
    border: 1px solid #20d9a1;
    border-radius: 50%;
    padding: 7px;
}

.about-image-group .about-shape1 {
    position: absolute;
    bottom: 50px;
    left: -9%;
    top: auto;
}

.about-image-group .about-shape2 {
    position: absolute;
    left: 4%;
    top: 30px;
    max-width: 220px;
}

.about-image-group .about-shape3 {
    position: absolute;
    right: 22%;
    top: 20px;
}

.tj-about-section .tj-sec-heading {
    margin-bottom: 0;
}

.tj-sec-heading {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;
}

.tj-sec-heading .sub-title {
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-family: 'Bilbo Swash Caps', cursive;
    letter-spacing: 3.5px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px;
    line-height: 1.2;
}

.tj-sec-heading .sec-title {
    margin-bottom: 30px;
}

.about-content-one .desc p {
    margin-bottom: 20px;
    max-width: 600px;
}

.about-content-one .about-button {
    margin-top: 40px;
}

.tj-secondary-btn.btn-border {
    position: relative;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 0 0;
    padding: 1px;
}

.tj-secondary-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito Sans';
    line-height: 2;
    text-transform: capitalize;
    color: #5f39ff;
    padding: 12px 35px;
    border: none;
    background: linear-gradient(90deg, #5f39ff 0%, #20d9a1 100%);
    background-size: 150% auto;
}

.tj-secondary-btn.btn-border span {
    padding: 12px 35px;
    background: #ffffff;
    border-radius: 58px;
    color: #5f39ff;
}

.about-section-shape {
    position: absolute;
    top: 2%;
    right: 5%;
}

@keyframes rotateImg {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* service section */

.service-section {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}

.service-section .tj-sec-heading {
    max-width: 780px;
    margin-bottom: 110px;
}

.tj-sec-heading p {
    margin-bottom: 0;
}

.tj-service-item {
    border-radius: 20px;
    margin-bottom: 30px;
    transition: 0.4s;
    position: relative;
    z-index: 3;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    border: 1px solid #f8f7ff;
}

.tj-service-item .service-inner {
    background-color: #f8f7ff;
    border-radius: 10px;
    transition: 0.4s;
    padding-bottom: 0;
    min-height: 350px;
}

.tj-service-item .service-icon {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    z-index: 1;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0);
}

.tj-service-item .service-icon .service-icons {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 45px;
    height: 45px;
    font-size: 45px;
    line-height: 1;
    transition: all 0.5s ease;
    transform: translate(-50%, -50%) rotate(0);
}

.tj-service-item .service-icon .image-1, .tj-service-item .service-icon .image-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: -2;
}

.tj-service-item:hover {
    background-color: transparent;
    box-shadow: 30px 15px 30px 0px rgba(0, 0, 0, 0.05);
    transition: 0.4s;
    border-color: transparent;
}

.tj-service-item:hover .service-icon .image-2 {
    transform: translateY(0);
    opacity: 1;
}

.tj-service-item .service-icon .image-2 {
    transform: translateY(30px);
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease;
}

.tj-service-item .service-content {
    padding: 20px 30px 35px;
}

.tj-service-item .title-link {
    margin-bottom: 15px;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #3a3a3a;
    transition: 0.1s;
}

.tj-service-item .service-content p {
    margin-bottom: 0;
}

.tj-service-item:hover .service-icon .service-icons {
    transform: translate(-50%, -50%) rotate(360deg);
}

.service-section-shape .service-bg-shape {
    position: absolute;
    top: 35px;
    right: 95px;
    z-index: 3;
    opacity: 0.3;
}

.service-section-shape .service-bg-shape1 {
    position: absolute;
    top: 50px;
    right: 6%;
}

.service-section-shape .service-bg-shape2 {
    position: absolute;
    left: 3%;
    bottom: 20%;
    opacity: 0.3;
}

.service-section-shape .service-bg-shape3 {
    position: absolute;
    left: 10%;
    bottom: 26%;
}

.service-section-shape .service-bg-shape4 {
    position: absolute;
    left: 60px;
    top: 25%;
    opacity: 0.3;
}

/* FAQ Section */

.faq-section {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}

.faq-section .tj-sec-heading {
    max-width: 610px;
    margin: 0;
    margin-bottom: 55px;
}

.faq-image-group {
    position: relative;
    z-index: 3;
}

.faq-image-group .faq-image1 .group-image {
    bottom: -10%;
    position: absolute;
    right: 10%;
    z-index: 3;
    max-width: 385px;
}

.faq-image-group .faq-image1 .group-image::before {
    position: absolute;
    content: "";
    top: 53.5%;
    left: 57%;
    width: 100%;
    transform: translate(-50%, -50%);
    height: 100%;
    background: url('images/border-shape2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.faq-image-group .faq-image1 .group-image img {
    border-radius: 50%;
    padding: 40px;
    max-width: 330px;
    width: 100%;
}

.faq-image-group .faq-image1 .group-shape {
    position: absolute;
    top: 45px;
    left: 50%;
}

.faq-image-group .faq-image1 .group-shape1 {
    position: absolute;
    top: 45px;
    left: 45%;
}

.faq-image-group .faq-image1 .group-shape2 {
    position: absolute;
    right: 5%;
    top: 12%;
    border: 1px solid #5f39ff;
    border-radius: 50%;
    padding: 7px;
    max-width: 100px;
    width: 100%;
}

.faq-image-group .faq-image3 {
    position: relative;
    top: -65px;
    left: 20px;
    max-width: 210px;
}

.faq-image-group .faq-image3 img {
    border: 1px solid #20d9a1;
    border-radius: 50%;
    padding: 10px;
}

.faq-image-group .faq-image2 {
    position: relative;
}

.faq-image-group .faq-image2 .group-image {
    left: 0px;
    bottom: -50px;
    position: relative;
    z-index: 3;
    max-width: 180px;
    width: 100%;
}

.faq-image-group .faq-image2 .group-image img {
    border: 1px solid #5f39ff;
    border-radius: 50%;
    padding: 10px;
}

.faq-image-group .faq-image2 .group-shape {
    position: absolute;
    top: 0;
    left: 35px;
}

.faq-image-group .faq-image2 .group-shape1 {
    position: absolute;
    top: 25px;
    left: -15px;
}

.tj-faq-area {
    padding-left: 0px;
    position: relative;
}

.tj-faq-area .tj-faq-style {
    border: 1px solid #20d9a1;
    box-shadow: 60px 15px 68px 0px rgba(0, 0, 0, 0.05);
    background: #ffffff;
    border-radius: 20px;
    padding: 25px 35px;
    position: relative;
    z-index: 3;
}

.tj-faq-area .tj-faq-style .accordion-item {
    border: none;
    border-radius: 5px;
    box-shadow: none;
    position: relative;
    z-index: 9;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
}

.tj-faq-area .tj-faq-style .accordion-item:last-child {
    border-bottom: none;
}

.tj-faq-area .tj-faq-style .accordion-item .accordion-header {
    line-height: 35px;
}

.tj-faq-area .tj-faq-style .accordion-item .accordion-header .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.tj-faq-area .tj-faq-style .accordion-item .accordion-header .accordion-button.collapsed {
    color: #3a3a3a;
}

.tj-faq-area .tj-faq-style .accordion-item .accordion-header .accordion-button {
    font-size: 22px;
    font-family: 'Ubuntu';
    font-weight: 600;
    padding: 20px 35px 20px 0;
    background-color: transparent;
    position: relative;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.tj-faq-area .tj-faq-style .accordion-item .accordion-header .accordion-button:after {
    position: absolute;
    top: 30px;
    right: 0;
    margin-left: auto;
    content: "";
    font-weight: 400;
    width: 20px;
    height: 20px;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    transition: 0.4s;
}

.tj-faq-area .tj-faq-style .accordion-item .accordion-header .accordion-button:not(.collapsed):before {
    transform: rotate(-180deg);
    color: #ffffff;
    background: linear-gradient(90deg, #20D9A1 0%, #5f39ff 100%);
}

.tj-faq-area .tj-faq-style .accordion-item .accordion-body {
    padding: 0 0 20px 0;
    max-width: 460px;
}

.tj-faq-area .tj-faq-style .accordion-item .accordion-body strong {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.faq-section-shape .faq-bg-shape {
    position: absolute;
    top: 0;
    right: 0;
}


/* case study section */

.case-study-section{
    padding-top: 120px;
    padding-bottom: 70px;
    background: #f8f7ff;
    position: relative;
}

.case-study-section .tj-sec-heading {
    max-width: 780px;
}

.tj-case-study-item {
    position: relative;
    z-index: 3;
    margin-bottom: 50px;
    transition: 0.4s;
    overflow: hidden;
}

.tj-case-study-item .case-study-content-area .title-link a:hover {
    color: transparent;
}

.tj-case-study-item .case-study-image {
    margin-bottom: 20px;
    position: relative;
    border-radius: 20px;
}

.tj-case-study-item .case-study-image::before {
    background: rgba(255, 255, 255, 0.5);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    right: 50%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    height: 100%;
    pointer-events: none;
    transition: all 0.5s linear;
    border-radius: 20px;
    z-index: 3;
}

.tj-case-study-item:hover .case-study-image::before {
    left: 0;
    right: 0;
    opacity: 1;
    visibility: visible;
}

.tj-case-study-item .case-study-image a {
    display: inline-block;
}

.tj-case-study-item .case-study-image img {
    border-radius: 20px;
    transform: scale(1);
}

.tj-case-study-item .case-study-content-area {
    padding: 0 30px;
}

.case-study-meta {
    margin-bottom: 15px;
    color: #727272;
}

.case-study-meta span a{
    color: #727272;
}

.case-study-meta span {
    font-size: 14px;
    margin-right: 35px;
    font-weight: 700;
}

.case-study-meta span:last-child {
    margin-right: 0;
}

.tj-case-study-item .case-study-content-area .title-link {
    margin-bottom: 45px;
    position: relative;
}  

.tj-case-study-item:hover .title-link::before {
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
}

.tj-case-study-item .case-study-content-area .title-link::before {
    position: absolute;
    content: "";
    width: 130px;
    height: 1px;
    bottom: -20px;
    left: 0;
    background: rgba(95, 57, 255, 0.5);
    transition: 0.4s;
}

.tj-case-study-item .case-study-content-area .title-link a {
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #3a3a3a;
    transition: 0.4s;
    line-height: 1.6;
}

.tj-case-study-item .case-study-content-area p {
    margin-bottom: 0;
}

.tj-case-study-item .tj-case-study-button {
    position: relative;
    margin-top: 25px;
}

.tj-case-study-item .tj-case-study-button .tj-secondary-btn.btn-border {
    position: relative;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 0 0;
    padding: 1px;
}
.tj-case-study-item .tj-case-study-button .tj-secondary-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito Sans';
    line-height: 2;
    text-transform: capitalize;
    color: #5f39ff;
    padding: 12px 35px;
    border: none;
    background: linear-gradient(90deg, #5f39ff 0%, #20d9a1 100%);
    background-size: 150% auto;
}

.case-study-section-shape .case-study-bg-shape {
    position: absolute;
    top: 0;
    right: 0;
}

.case-study-section-shape .case-study-bg-shape1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* contact-section */

.contact-section {
    padding-bottom: 120px;
    padding-top: 120px;
    position: relative;
}

.contact-form-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    background: #fafafc;
    padding: 35px;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.contact-left-content .tj-sec-heading {
    margin-bottom: 34px;
}

.contact-left-content .tj-sec-heading .sec-title {
    max-width: 520px;
}

.contact-left-content .desc {
    max-width: 650px;
}

.contact-left-content .contact-list {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-left-content .contact-list .contact-icon {
    width: 55px;
    height: 55px;
    line-height: 48px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    color: #fff;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    margin-right: 20px;
}

.contact-left-content .contact-list .contact-icon img {
    max-width: 27px;
    width: 100%;
}

.contact-left-content .contact-header span {
    line-height: 1.2;
}

.contact-left-content .contact-header a {
    color: #3a3a3a;
    transition: 0.4s;
    font-size: 18px;
    font-weight: 500;
}

.contact-left-content .contact-list:last-child {
    margin-bottom: 0;
}
.contact-left-content .contact-list {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-form-box .form-input {
    margin-bottom: 20px;
}

.contact-form-box .form-input label {
    margin-bottom: 10px;
    color: #3a3a3a;
}

.contact-form-box .form-input input[type=text] {
    width: 100%;
    border-radius: 8px;
    padding: 17px 20px;
    background: #fafafc;
    border: 1px solid #e4e1ff;
}

.contact-form-box .form-input input[type=email] {
    width: 100%;
    border-radius: 8px;
    padding: 17px 20px;
    background: #fafafc;
    border: 1px solid #e4e1ff;
}

.contact-form-box .form-textarea textarea {
    width: 100%;
    background: #fafafc;
    border: 1px solid #e4e1ff;
    border-radius: 10px;
    padding: 17px 20px;
    min-height: 140px;
    resize: none;
}

.contact-form-box .tj-contact-button .tj-primary-btn {
    border-radius: 10px;
    width: 100%;
}

.contact-section-shape .contact-bg-shape {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
}

.contact-section-shape .contact-bg-shape1 {
    position: absolute;
    right: 50px;
    top: 30%;
    transform: translateY(-50%);
}

.contact-section-shape .contact-bg-shape2 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.contact-section-shape .contact-bg-shape3 {
    position: absolute;
    left: 50px;
    top: 40%;
    transform: translateY(-50%);
}

select, .nice-select, input:not([type=submit]):not([type=radio]):not([type=checkbox]), textarea {
    outline: none;
    background-color: #fff;
    height: auto;
    width: 100%;
    font-size: 16px;
    border: 1px solid #fff;
    color: #3a3a3a;
    padding-left: 29px;
    padding-right: 29px;
}



/* footer section */

.footer-area {
    background-image: url('images/footer-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #282828;
    position: relative;
    overflow: hidden;
}

.footer-area .footer-menu-area {
    padding-top: 120px;
    padding-bottom: 65px;
}

.footer-widget {
    margin-bottom: 40px;
    position: relative;
    z-index: 3;
}

.footer-area .footer-menu-area .footer-content-info {
    max-width: 340px;
    position: relative;
    z-index: 3;
}

.footer-area .footer-menu-area .footer-content-info .footer-logo {
    max-width: 185px;
    width: 100%;
    margin-bottom: 35px;
}

.footer-area .footer-menu-area .footer-content-info .footer-logo a {
    display: inline-block;
}

.footer-area .footer-menu-area .footer-content-info p {
    color: #fafafc;
    font-family: 'Ubuntu';
    margin-bottom: 30px;
}

.dot-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-area .footer-menu-area .footer-content-info .footer-share ul li {
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
}

.footer-area .footer-menu-area .footer-content-info .footer-share ul li a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #3a3a3a;
    font-size: 20px;
}

.footer1-col-2, .footer1-col-3, .footer1-col-4, .footer1-col-5 {
    padding-left: 45px;
}

.footer-area .footer-menu-area .footer_title {
    color: #fff;
    margin-bottom: 40px;
}

.footer-area .footer-menu-area .widget_nav_menu {
    position: relative;
    z-index: 3;
}

.footer-area .footer-menu-area .widget_nav_menu .footer-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-area .footer-menu-area .widget_nav_menu .footer-menu ul li {
    margin-bottom: 15px;
}

.footer-area .footer-menu-area .widget_nav_menu .footer-menu ul li a {
    color: #fafffd;
    font-size: 15px;
    font-family: 'Ubuntu';
    font-weight: 400;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.4s;
}

.footer-area .footer-menu-area .widget_nav_menu .footer-menu ul li a:hover {
    color: transparent;
}

.footer-area .footer-menu-area .widget_contact_menu .footer-menu ul li {
    padding-left: 45px;
    margin-bottom: 20px;
    position: relative;
    z-index: 9;
}

.footer-area .footer-menu-area .widget_contact_menu .footer-menu ul li span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    transition: 0.4s;
}

.footer-area .footer-menu-area .widget_contact_menu .footer-menu ul li span::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    content: "";
    width: 35px;
    height: 35px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.footer-area .footer-menu-area .widget_contact_menu .footer-menu ul li a {
    color: #fafffd;
    font-family: 'Ubuntu';
    font-weight: 400;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.4s;
}

.footer-area .copyright-area {
    padding: 20px 0;
}

.footer-area .copyright-content-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

.footer-area .copyright-content-area .copyright-left-content p {
    font-family: 'Ubuntu';
    color: #fafafc;
    margin-bottom: 0;
}

.footer-area .copyright-content-area .copyright-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-area .copyright-content-area .copyright-menu ul li:first-child {
    margin-left: 0;
}

.footer-area .copyright-content-area .copyright-menu ul li {
    display: inline-block;
    margin-left: 25px;
}

.footer-area .copyright-content-area .copyright-menu ul li a {
    font-family: 'Ubuntu';
    font-weight: 400;
    background: linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #fafafc;
    transition: 0.4s;
}

.footer-section-shape .footer-bg-shape {
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer-section-shape .footer-bg-shape1 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer-section-shape .footer-bg-shape2 {
    position: absolute;
    bottom: 5%;
    right: 6%;
    opacity: 0.3;
}

.footer-section-shape .footer-bg-shape3 {
    position: absolute;
    bottom: 10%;
    right: 6%;
    opacity: 0.9;
}

.footer-area .copyright-content-area .copyright-left-content a:hover {
    color: transparent;
}
.footer-area .copyright-content-area .copyright-left-content a {
    background: linear-gradient(90deg, #20D9A1 0%, #5f39ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: #fafafc;
    transition: 0.4s;
}


/* common fade effects */

.reveal{
    /* position: relative; */
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }

  .effectFadeInUp
  {
  animation:fadeInUp 1s ease-in;
  -webkit-animation:fadeInUp 1s ease-in; /* Safari and Chrome */
  }

  .active.fadeInUp{
    animation:fadeInUp .5s ease-in;
    animation-fill-mode: both;
  }

  .fade-in-left {
    animation: fadeInLeft 1s ease-in;
  }

  .active.fadeInLeft {
    animation: fadeInLeft .5s ease-in;
  }

  .active.fadeInRight {
    animation: fadeInRight .5s ease-in;
    animation-fill-mode: both;
  }

  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.active.bounce-in-right {
    animation: bounce-in-right 1.5s ease-in;
  }

  @keyframes bounce-in-right {
    0% {
      opacity: 0;
      transform: translateX(2000px);
    }
    60% {
      opacity: 1;
      transform: translateX(-30px);
    }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }


  @keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}



/********** MOBILE HEADER ************/


.mobile-header{
    display: none;
}
/* mobile menu css */

.canva_expander {
    cursor: pointer;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.canva_expander span {
    height: 2px;
    width: 35px;
    display: block;
    background: #fff;
    cursor: pointer;
    list-style: none;
    margin: 8px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    margin-left: auto;
}

.canva_expander span.dot2 {
    width: 27px;
}

.canva_expander span.dot4 {
    width: 22px;
}


.hamburger {
    position: absolute;
    top: 20px;
    right: 15px;
    /* line-height: 20px; */
    padding: 5px;
    /* border-radius: 5px; */
    color: #fff;
    border: 0;
    font-size: 30px;
    font-weight: bold;
    outline: none;
    z-index: 1111;
    background: none;
}

.cross{
  background:none;
  position:absolute;
  top:5px;
  right:15px;
  padding:7px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:22222;
}
.menu{z-index:1111; font-weight:bold; font-size:0.8em; width:100%; background:linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%);  position:absolute; text-align:center; font-size:12px; top: 0; left: 0;min-height: 100%;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none; padding-top: 80px;height: 100vh;}
.menu li {display: block;   padding:15px 0 15px 0;}
.menu li:hover{display: block;    background:linear-gradient(90deg, #20d9a1 0%, #5f39ff 100%); padding:15px 0 15px 0;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#fff;font-size: 18px;}
.menu ul li a:hover {  color: #fff; text-decoration:none;}
.menu a{text-decoration:none; color:#fff;}
.menu a:hover{text-decoration:none; color:#20D9A1;}

.fa-chevron-right{
    font-size: 12px;
}

.glyphicon-home{
  color:white; 
  font-size:1.5em; 
  margin-top:5px; 
  margin:0 auto;
}


.nav__item , .nav__item {
	margin-top: 15px;
}

.menu ul .nav__link {
	font-weight: 500;
	color: #fff;
	text-decoration: none;
}

.menu ul .nav__sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	background-color: #5f39ff;
  color: #fff;
	opacity: 0;
	display: none;
	transition: all 0.35s ease-in-out;
	transform: translateX(100%);
}

.menu ul .nav__sub.is-active {
  opacity: 1;
  display: block;
  transform: translateX(0%);
}

.menu ul .nav__sub {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	list-style-type: none;
}


.hamburger, .cross, .menu{
  display: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px){
    .hero-image-group .group-image1 {
        max-width: 300px;
    }

    .hero-image-group .group-image2::before {
        width: 275px;
        height: 450px;
        top: 50%;
        left: -20px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px){
    .hero-image-group {
        margin-right: 0;
    }

    .hero-image-group .group-image2 {
        left: -50px;
        max-width: 250px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px)
{
    .hero-section {
        padding-top: 160px;
        padding-bottom: 110px;
    }

    .hero-section .tj-sec-heading {
        margin-bottom: 80px;
    }

    .hero-left-content .hero-title {
        font-size: 50px;
    }

    .hero-image-group {
        margin-right: 140px;
        text-align: center;
    }

    .hero-image-group .group-image3, .hero-image-group .group-image4, .hero-image-group .group-image5, .hero-image-group .group-image6, .hero-section .hero-shape2, .hero-section .hero-shape3  {
        display: none;
    }

    .hero-section .hero-shape {
        width: 50%;
    }

    .hero-section .hero-scroll {
        max-width: 90px;
        bottom: -30px;
    }   

    /* common css */

    .tj-sec-heading .sub-title {
        font-size: 30px;
    }

    .tj-sec-heading {
        margin-bottom: 35px;
    }

    /* about-section */

    .about-section {
        padding-top: 410px;
        padding-bottom: 80px;
    }

    .about-image-group .about-shape1, .about-image-group .about-shape3 {
        display: none;
    }

    .about-image-group .about-shape2 {
        max-width: 160px;
        left: 10%;
    }

    .about-section-shape {
        display: none;
    }

    .about-image1::before{
        display: none;
    }

    /* service section */

    .service-section {
        padding-top: 0px;
        padding-bottom: 80px;
    }

    .service-section .tj-sec-heading {
        margin-bottom: 95px;
    }

    .tj-service-item {
        margin-bottom: 80px;
    }

    .service-inner {
        padding-bottom: 15px;
    }

    .tj-service-item .service-content {
        padding: 25px 15px 25px;
    }

    .tj-service-item .title-link {
        margin-bottom: 15px;
    }

    .service-button {
        margin-top: -20px;
    }

    .service-section .row.mt-5{
        padding-right: 0;
    }

    .service-section .row.mt-5 .col-lg-4{
        padding-right: 0;
    }

    .service-section-shape .service-bg-shape, .service-section-shape .service-bg-shape1, .service-section-shape .service-bg-shape2, .service-section-shape .service-bg-shape3, .service-section-shape .service-bg-shape4 {
        display: none;
    }

    /* faq section */

    .faq-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .faq-section .tj-sec-heading {
        margin-bottom: 75px;
    }

    .faq-image-group {
        margin-bottom: 100px;
    }

    .faq-image-group .faq-image1 .group-shape, .faq-image-group .faq-image1 .group-shape1, .faq-image-group .faq-image2 .group-shape, .faq-image-group .faq-image2 .group-shape1, .tj-faq-area .accordion-shape {
        display: none;
    }

    .tj-faq-area {
        padding-left: 0;
    }

    .tj-faq-area .tj-faq-style {
        padding: 25px 35px;
    }

    .faq-section-shape .faq-bg-shape {
        width: 50%;
    }

    /* case study section */

    .case-study-section {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .tj-case-study-item .case-study-content-area {
        padding: 0 0;
    }

    .tj-case-study-item .case-study-content-area .title-link {
        font-size: 20px;
    }

    .case-study-section-shape .case-study-bg-shape {
        width: 50%;
    }

    .case-study-section-shape .case-study-bg-shape1 {
        width: 50%;
    }

    /* contact section */

    .contact-section {
        padding-bottom: 80px;
        padding-top: 80px;
    }

    /* footer section */

    .footer-area .footer-menu-area {
        padding-top: 80px;
        padding-bottom: 10px;
    }

    .footer-area .footer-menu-area .footer-content-info .footer-logo {
        max-width: 150px;
    }

    .footer-area .copyright-content-area {
        text-align: center;
        display: block;
    }

    .footer-area .copyright-content-area .copyright-left-content {
        margin-bottom: 20px;
    }

    .footer-section-shape .footer-bg-shape2, .footer-section-shape .footer-bg-shape3 {
        display: none;
    }

    .footer1-col-2, .footer1-col-3, .footer1-col-4, .footer1-col-5 {
        padding-left: 0px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px)
{
    .tj-sec-heading .sec-title {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .faq-image-group .faq-image3 {
        top: -35px;
        left: 30px;
        max-width: 130px;
    }
    
    .tj-case-study-item .case-study-image {
        width: 100%;
    }

    .tj-case-study-item .case-study-image a {
        width: 100%;
    }

    .tj-case-study-item .case-study-image img {
        width: 100%;
    }

    .case-study-meta span {
        margin-right: 15px;
    }

    /* contact section */

    .contact-form-area {
        padding: 30px 15px;
        gap: 30px;
    }

    .contact-left-content .contact-list .contact-icon {
        width: 40px;
        height: 40px;
        line-height: 35px;
        margin-right: 15px;
    }

    .contact-left-content .contact-list .contact-icon img {
        width: 20px;
    }

    .contact-form-box .form-input input[type=text] {
        padding: 13px 20px;
    }

    .contact-form-box .form-input input[type=email] {
        padding: 13px 20px;
    }

    .contact-form-box .form-textarea textarea {
        min-height: 110px;
    }
}

@media screen and (max-width: 450px) {
    .tj-menu-area, .header-button{
        display: none;
    }
    
    .hamburger, .cross, .menu, .mobile-header{
        display: block;
    }

    .hero-left-content .hero-title {
        font-size: 38px;
    }

    .hero-image-group {
        margin-right: 20px;
        text-align: center;
    }

    .hero-image-group .group-image1 {
        max-width: 250px;
    }

    .hero-image-group .group-image2 {
        max-width: 200px;
        left: 20px;
    }

    /* about section */

    .about-section {
        padding-top: 350px;
    }

    .about-image-group {
        margin-bottom: 220px;
    }

    .about-image-group .about-circle-box {
        bottom: 140px;
        right: 2%;
    }

    .about-image-group .about-image1 {
        max-width: 260px;
        left: 20%;
        top: -160px;
    }

    .about-image-group .about-image2 {
        left: 0;
        max-width: 110px;
        padding: 5px;
        top: 15px;
    }

    .about-image-group .about-image3 {
        left: 10px;
        max-width: 130px;
        bottom: 120px;
    }

    .about-image-group .about-image4 {
        max-width: 100px;
        right: 2%;
        top: 80px;
    }

    .about-image-group .about-shape2 {
        max-width: 130px;
    }

    .about-image-group .about-circle-box .circle-one {
        max-width: 210px;
    }

    .about-image-group .about-image1 img {
        max-width: 260px;
        padding: 35px;
    }

    /* faq section */

    .faq-image-group {
        margin-bottom: 180px;
    }

    .faq-image-group .faq-image1 .group-image {
        bottom: -20%;
        right: 12%;
        max-width: 230px;
    }

    .faq-image-group .faq-image1 .group-shape2 {
        right: 6%;
        top: -6%;
    }

    .faq-image-group .faq-image1 .group-image img {
        max-width: 230px;
        padding: 30px;
    }

    .faq-image-group .faq-image2 .group-image {
        max-width: 120px;
        bottom: -120px;
    }

    .tj-faq-area .tj-faq-style {
        padding: 20px 15px;
    }

    .tj-faq-area .tj-faq-style .accordion-item .accordion-header .accordion-button {
        font-size: 18px;
        line-height: 1.5;
    }
}